@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: hsl(219, 9%, 45%);
}

a:hover {
  color: hsl(0, 0%, 0%);
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 8rem;
  margin-right: 8rem;
  margin-bottom: 1rem;
  border-bottom: 3px solid hsl(223, 64%, 98%);
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 0;
}

.left-items {
  gap: 2rem;
}

.right-items {
  gap: 3rem;
}

.navbar .left-items .item {
  padding-top: 2.3rem;
  padding-bottom: 2.3rem;
  border-bottom: 3px solid transparent;
}

.navbar .left-items li h1 {
  margin-right: 1rem;
  font-size: 32px;
  letter-spacing: -0.07rem;
  padding: 0;
}

.navbar .left-items li h1:hover {
  cursor: pointer;
}

.right-items li img {
  height: 3rem;
  border: 3px solid transparent;
}

.right-items li img:hover {
  border-radius: 50%;
  border: 3px solid hsl(26, 100%, 55%);
}

.navbar .left-items .item:hover {
  border-bottom: 3px solid hsl(26, 100%, 55%);
}

.main-img {
  width: 24rem;
  max-width: 100%;
  height: auto;
  margin-bottom: 1.3rem;
  border-radius: 5%;
}

.main-img:hover {
  cursor: pointer;
}

.thumbnails-main-view {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.thumbnails-modal-view {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  flex-wrap: wrap;
}

.thumbnail-img {
  max-width: 4.5rem;
  border-radius: 15%;
  margin: 0;
  padding: 0;
}

.thumbnail-img:hover {
  background-color: white;
  opacity: 0.4;
  cursor: pointer;
}

.thumbnail-img-chosen {
  background-color: white;
  opacity: 0.4;
  border: 3px solid hsl(26, 100%, 55%);
}

.thumbnail-wrapper {
  display: flex;
  align-items: center;
  /* position: relative; */
  overflow: hidden;
  background-color: white;
  border-radius: 15%;
  margin-bottom: 0;
  padding: 0;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: transparent;
  padding-top: 2rem;
  position: relative;
}

.modal-directions {
  position: absolute;
  top: 41%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.directions {
  display: none;
}

.modal-main-img img {
  width: 29rem;
  max-width: 100%;
  height: auto;
  border-radius: 5%;
  padding: 1.1rem;
}

.close-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  fill: #c3cad9;
}

.close-icon-container:hover .close-icon {
  fill: hsl(26, 100%, 55%);
}

.icon-direction {
  background-color: white;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  border-radius: 50%;
  cursor: pointer;
}

.icon-direction:hover path {
  stroke: hsl(26, 100%, 55%);
}

.company {
  font-size: 1rem;
  color: hsl(26, 100%, 55%);
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.product-title {
  color: hsl(0, 0%, 0%);
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 42px;
  font-weight: 700;
}

.description {
  color: hsl(219, 9%, 45%);
  line-height: 1.7rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.price-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.price {
  font-size: 24px;
  font-weight: 700;
}

.discount {
  background-color: hsl(25, 100%, 94%);
  color: hsl(26, 100%, 55%);
  font-weight: 700;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 20%;
}

.old-price {
  text-decoration: line-through;
  color: hsl(220, 14%, 75%);
  font-weight: 700;
  display: flex;
  align-items: center;
}

.btn-quantity {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.content-container {
  display: flex;
  margin-top: 3.5rem;
  margin-left: 14rem;
  margin-right: 14rem;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  margin-right: 5.5rem;
}

.product {
  width: 35rem;
}

.btns {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
  margin-top: 2rem;
}

.btn-add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: white;
  padding: 1rem;
  background-color: hsl(26, 100%, 55%);
  border: none;
  letter-spacing: 0.05rem;
  font-weight: 700;
  width: 14rem;
  border-radius: 0.6rem;
  box-shadow: 0 8px 18px hsla(26, 100%, 55%, 0.3);
  transition: background-color 0.3s ease-in-out;
}

.btn-add-to-cart:hover {
  cursor: pointer;
  background-color: hsl(25, 100%, 72%);
}

.btn-checkout {
  color: white;
  background-color: hsl(26, 100%, 55%);
  border: none;
  letter-spacing: 0.05rem;
  font-weight: 700;
  width: 90%;
  padding: 1rem;
  border-radius: 0.6rem;
  margin: 1rem;
  cursor: pointer;
}

.cart {
  fill: hsl(219, 9%, 45%);
}

.icon-add-to-cart {
  fill: hsl(0, 0%, 100%);
  margin-right: 5px;
}

.quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(223, 64%, 98%);
  border-radius: 0.6rem;
}

.btn-quantity {
  padding: 1rem;
}

.number {
  padding: 1rem 1.5rem;
  font-weight: 700;
}

.m-icon {
  display: flex;
  align-items: center;
}

.cart-title {
 padding-left: 1rem;
 border-bottom: 3px solid hsl(223, 64%, 98%);
}

.cart-container {
  position: fixed;
  top: 6rem;
  right: 5rem;
  width: 22rem;
  height: 13.5rem;
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(223, 64%, 98%);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
}

.cart-content-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1rem 0rem 1rem;
}

.cart-thumbnail-img {
  max-width: 3rem;
  border-radius: 15%;
  margin: 0;
  padding: 0;
}

.total-price {
  font-weight: 700;
  margin-left: 0.5rem;
}

.cart-description {
  color: hsl(219, 9%, 45%);
  line-height: 1.7rem;
  margin: 0
}

.empty-cart-message {
  color: hsl(219, 9%, 45%);
  text-align: center;
  padding-top: 3.5rem;
  font-weight: 700;
}

.cart-icon-container {
  position: relative;
  padding: 0.5rem;
}

.cart-icon-quantity {
  position: absolute;
  top: 0.1rem;
  right: 0rem;
  font-size: 0.6rem;
  color: hsl(0, 0%, 100%);
  background-color: hsl(26, 100%, 55%);
  border-radius: 0.7rem;
  padding: 0.1rem 0.4rem;
}

.delete-icon {
  cursor: pointer;
}

.menu-icon {
  display: none;
}

@media (max-width: 1024px) {
  .content-container {
    margin-left: 6rem;
    margin-right: 6rem;
  }
  .wrapper {
    margin-right: 3rem;
  }
  .navbar {
    margin-left: 4rem;
    margin-right: 4rem;
  }
  .thumbnail-img {
    width: 4rem;
  }
}

@media (max-width: 768px) {
  .left-items {
    gap: 1rem;
  }
  .content-container {
    margin-left: 4rem;
    margin-right: 4rem;
  }
  .wrapper {
    margin-right: 1.5rem;
  }
  .thumbnail-img {
    width: 3rem;
  }
  .right-items {
    gap: 1rem;
  }
  .product-title {
    font-size: 2.3rem;
  }
}

@media (max-width: 426px) {
  .navbar .left-items .item {
    display: none;
  }
  .menu-icon {
    display: inline;
  }
  .navbar {
    margin-left: 2rem;
    margin-right: 2rem;
    border-bottom: none;
    margin-bottom: 0;
  }
  .product {
    width: auto;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .thumbnails-main-view {
    display: none;
  }
  .content-container {
    display: block;
    margin: 0;
  }
  .main-img {
    width: 100%;
    max-width: none;
    height: auto;
    border-radius: 0;
  }
  .wrapper {
    margin-right: 0;
  }
  body {
    margin: 0;
    padding: 0;
  }
  .product-title {
    font-size: 2rem;
  }
  .description {
    font-size: 1.1rem;
  }
  .price {
    font-size: 2rem;
  }
  .btns {
    display: block;
  }
  .btn-add-to-cart {
    width: 100%;
    padding: 1.5rem;
  }
  .quantity {
    margin-bottom: 1rem;
    padding: 0.5rem;
  }
  .number, .text-add-to-cart, .cart-description {
    font-size: 1.1rem;
  }
  .prices-one-line {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
  }
  .price-container {
    margin-bottom: 0;
  }
  .directions {
    position: absolute;
    top: 23%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  } 
  .icon-direction {
    margin: 0 1rem;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
  }
  .wrapper-main-img {
    display: none;
  }
  .cart-container {
    width: 90%;
    top: 7rem;
    left: 0.9rem;
    right: 0.9rem;
    height: 18rem;
    margin: auto;
  }
  .btn-checkout {
    padding: 1.5rem;
    font-size: 1.1rem;
  }
  .empty-cart-message {
    font-weight: 700;
    font-size: 1.1rem;
    padding-top: 4.6rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  .cart-title {
    border-bottom: 1px solid hsl(220, 14%, 75%);
  }
  .cart-thumbnail-img {
    max-width: 3.6rem;
  }
  .cart-content-container {
    padding: 1.5rem 1rem 1rem 1rem;
  }
}

@media (min-width: 426px) {
  .wrapper-main-img-mobile {
    display: none;
  }
}

@media (max-width: 376px) {
  .directions {
    top: 21%;
  }
}

@media (max-width: 321px) {
  .directions {
    top: 19%;
  }
}